{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'photo_uploader/css/display.css' %}" />

{% if photos %}
    <div id="photo_container">
    {% for photo in photos %}
        {% if photo.aspect_ratio > .85 %}
        <figure class="photo" data-size="2">
        {% else %}
        <figure class="photo">
        {% endif %}
            <img src="{{ MEDIA_URL }}{{ photo.photo.name }}">
            <figcaption>
                {{ photo.caption }}
            </figcaption>
        </figure>
    {% endfor %}
    </div>
{% else %}
    <p>No photos are available.</p>
{% endif %}

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{% static 'photo_uploader/js/blocksit.min.js' %}"></script>
<script>
$("body").ready(function(){
    var images = $(".photo > img");
    images.load(function(){
        $("#photo_container").BlocksIt({
            blockElement: ".photo",
        });
    });
});
</script>