{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'photo_uploader/css/display.css' %}" />

{% if photos %}
    <div id="photo_container">
    {% for photo in photos %}
        {% if photo.aspect_ratio > 1 %}
        <figure class="photo landscape">
        {% else %}
        <figure class="photo portrait">
        {% endif %}
            <img src="{{ photo.photo.url }}">
            <figcaption>
                {{ photo.caption }}
            </figcaption>
        </figure>
    {% endfor %}
    </div>
{% else %}
    <p>No photos are available.</p>
{% endif %}